@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<AnimalShopProject.Models.Animal>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/catalog.css" rel="stylesheet" type="text/css" asp-append-version="true">

</head>
<body>
    <h1>The Best Pet Shop In Town!</h1>

            <form action="/Catalog/Index" method="post">

            <fieldset>Category <select id="Category" name="Category">

            <option value="Birds">Birds</option>

            <option value="Dogs">Dogs</option>

            <option value="Cats">Cats</option>

            </select>

            <p><input type="submit" value="Submit" /> </p>

            </fieldset>

            </form>
       

    @foreach (var animal in Model)
    {
        <div>Name: @animal.Name </div>
        <img class="images" src="@animal.PictureName"/>

        <a asp-action="AnimalCard" asp-route-animalId="@animal.Id" asp-controller="catalog">View More or leave a comment</a>
    }
 
    
</body>
</html>

