@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<AnimalShopProject.Models.Animal>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/homepage.css" rel="stylesheet" type="text/css" asp-append-version="true">

</head>
<body>
    <h1 class="header">The Best Pet Shop In Town!</h1>
    <p class="p">Our most commented pets:</p>

    @foreach (var animal in Model)
    {
         <table class="table table-bordered table-responsive">
      <tr>
        <th>Portrait</th>
        <th>Name</th>
        <th>Description</th>
        <th>Number of comments</th>
      </tr>
      <tr>
        <td> <img class="images" src=" @animal.PictureName"/></td>
        <td>@animal.Name</td>
        <td>@animal.Description</td>
        <td>@animal.Comments!.Count()</td>
      </tr>

    </table> 
    }

    
</body>
</html>

