@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<AnimalShopProject.Models.Animal>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/homepage.css" rel="stylesheet" type="text/css" asp-append-version="true">

</head>
<body>
    <h1>The Best Pet Shop In Town!</h1>
    @foreach (var animal in Model)
    {
        <div class="row">
            <div class="column">
                <img class="images" src=" @animal.PictureName"/>
            </div>
        </div>
        
        <div>Name: @animal.Name Description: @animal.Description Number of Comments: @animal.Comments!.Count()</div>
    }
 
    
</body>
</html>

