@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AnimalShopProject.Models.Animal

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/homepage.css rel="stylesheet" type="text/css">

</head>
<body>
        <h1>The Best Pet Shop in Town!</h1>
         @using(Html.BeginForm("Create", "Admin", FormMethod.Post))
    {
         <text>Animal Name:</text>@Html.TextBox("name")
         <text>Age:</text>@Html.TextBox("age")
         <text>Description:</text>@Html.TextBox("description")
         <text>Picture:</text>@Html.TextBox("pictureName"), new { type = "file" })

        <input type="submit" value="Add Animal"/>
    }
    
</body>
</html>


