@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AnimalShopProject.Models.Animal

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/homepage.css" rel="stylesheet" type="text/css">

</head>
<body>
        <h1 class="header">The Best Pet Shop in Town!</h1>
        <p class="p">To Edit This Animal Please Fill The Next Form:</p>

         @using(Html.BeginForm("Update", "Admin", new {id=Model.Id}, FormMethod.Post))
    {
      
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"></span>
       <input asp-for="@Model.Name" required placeholder="Animal Name" class="inputEdit"/> <br/>
       <label asp-for="Age"></label>
       <span asp-validation-for="Age"></span>
       <input asp-for="@Model.Age" required placeholder="Age" class="inputEdit"/> <br/>
       <label asp-for="Description"></label>
       <span asp-validation-for="Description"></span>
       <input asp-for="@Model.Description" required placeholder="Description" class="inputEdit" width="300"/> <br/>
       <label asp-for="PictureName"></label>
       <span asp-validation-for="PictureName"></span>
       <input asp-for="@Model.PictureName" required placeholder="Picture" class="inputEdit"/> <br/>

         <form action="/Catalog/AnimalCard" method="post">

            <fieldset>Category <select id="categoryID" name="categoryID">

            <option value="1">Birds</option>

            <option value="2">Dogs</option>

            <option value="3">Cats</option>

            </select>

            </fieldset>

            <input class="btn btn-outline-success active" role="button" type="submit" value="Edit Animal"/>
            </form>

    }
    
</body>
</html>


